
<div class="container-fluid d-flex align-items-center">
    <div class="row mt-3" style="flex: 1;">
      <div class="col-xs-4 col-sm-4 col-md-4 d-flex justify-content-center align-items-center"></div>
      <div class="col-xs-4 col-sm-4 col-md-4 d-flex justify-content-center align-items-center">
        <div class="card" style="min-width: 80%;">
          <div class="card-header">
            <h2>Add Item</h2>
          </div>
          <div class="card-body">
            <form [formGroup]="addItemForm" autocomplete="off" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label class="form-check-label">Item Name</label>
                  <input
                    name="itemname"
                    placeholder="Item Name"
                    [formControl]="itemname"
                    class="form-control"
                    type="text"
                    required
                  />
                  <div class="validation-error" *ngIf="itemname.invalid && itemname.touched">
                    This field cannot be empty
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-check-label">Quantity</label>
                  <input
                    name="quantity"
                    [formControl]="quantity"
                    placeholder="Quantity"
                    class="form-control"
                    type="number"
                    required
                  />
                  <div class="validation-error" *ngIf="quantity.invalid && quantity.touched">This field cannot be empty</div>
                </div>
                <div class="form-group">
                  <button type="submit" [disabled]="!addItemForm.valid" class="btn btn-primary">SUBMIT</button>
                </div>
              </form>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 d-flex justify-content-center align-items-center"></div>
      </div>
    </div>
  </div>
  